{% extends 'base.html' %}
{% load i18n staticfiles thumbnail %}


{% block bootstrap3_title %}SHERRY SHEAF | {% block title %}PRODUCTS{% endblock %}{% endblock %}

{% block content %}



	<!-- <div class="row">
		<div class="pull-left" id="label">PRODUCTS</div>
	</div> -->

	<div class="row">
		<p class="page-header">
			<a href="{% url 'collection' %}">{% trans "View by Collection" %}</a>
			/
			<a href="{% url 'category' %}">{% trans "View by Category" %}</a>
	</div>

	<div class="row">
			<p class="sub-header">{{ gallery.title }}</p>
	</div>
	<div class="row col-lg-12" >
	    {% for photo in gallery.photos.all %}
	        <a id="title" href="{{ photo.get_absolute_url }}">
	             <img id="img_wrapper" src="{{ photo.image|thumbnail_url:'thumbnail' }}" class="thumbnail" alt="{{ photo.title }}">
							 <p class="text">{{ photo.title }}</p>
	        </a>
	    {% endfor %}

				<div>
					{% if gallery.collection %}
						<a class="btn btn-default" href="{% url 'collection' %}">{% trans "back to collections" %}
					{% else %}
						<a class="btn btn-default" href="{% url 'category' %}" >{% trans "back to categories" %}
					{% endif %}
				</a></div>

{% endblock %}
