{% extends "templates/photologue/photo_list.html" %}
{% load i18n %}

{% block bootstrap3_title %}SHERRY SHEAF | {% block title %}PRODUCTS{% endblock %}{% endblock %}

{% block content %}
<!-- user logged in  -->
{% if user.is_authenticated %}
<h1>Hello {{ user.username }}!</h1>
<a class="btn btn-warning" href="{% url 'logout' %}">Log out</a>

    <div class="row col-lg-12">
        <h1 class="page-header">{% trans "All photos" %}</h1>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
		    {% for photo in object_list %}
		        <a href="{{ photo.get_absolute_url }}">
		             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}
		</div>
	{% else %}
		<div class="row">{% trans "No photos were found" %}.</div>
	{% endif %}

	{% include "photologue/includes/paginator.html" %}



<!-- user not logged in -->
{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Log in</a>

<a class="btn btn-info" href="{% url 'register' %}">Register!</a>
{% endif %}
{% endblock %}
