{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap3_title %}SHERRY SHEAF | {% block title %}PRODUCTS{% endblock %}{% endblock %}

{% block content %}
<!-- user logged in  -->
{% if user.is_authenticated %}
<h1>Hello {{ user.username }}!</h1>
<a class="btn btn-warning" href="{% url 'logout' %}">Log out</a>

<!-- user not logged in -->
{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">Log in</a>

<a class="btn btn-info" href="{% url 'register' %}">Register!</a>
{% endif %}
{% endblock %}
